.book-calendar {
    border-radius: 10px;
    background-color: #fff;
    overflow: auto;
  }
  
  @media (max-width: 767px) {
    /* appliquez les styles ci-dessous uniquement si la largeur de l'écran est inférieure à 768px (taille de l'écran de téléphone mobile) */
    .book-calendar {
      width: 350px;
    }
  }
  
  @media (min-width: 768px) {
    /* appliquez les styles ci-dessous uniquement si la largeur de l'écran est supérieure ou égale à 768px (taille de l'écran de bureau) */
    .book-calendar {
      width: 600px;
    }
  }
  
  .book-calendar-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #d52d2d;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 10px;    
  }
  
  .book-calendar-day__div{
    background-color: #cccccc31;
    margin: 10px 0;
    border-radius: 10px;
  }

  .book-calendar-day {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .book-calendar-day:last-child {
    border-bottom: none;
  }
  
  .book-calendar-day-label {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
    text-transform: uppercase;
  }
  
  .book-calendar-day-books {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  .book-calendar-day-books img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-right: 10px;
  }

  .book-calendar-day-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100%;
    background-color: #fff;
    padding: 4px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .book-calendar-day-book:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  
  .book-calendar-day-book p:first-of-type {
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 10px;
  }
  
  /* Scrollbar Styles */
/* Styles pour la barre de défilement */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 20px;
    border: 3px solid #f5f5f5;
  }
  
  /* Ajouter !important pour rendre les styles prioritaires */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #bbb !important;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background-color: #999 !important;
  }
  