.book-container {
    display: flex;
    flex-direction: row;
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .book-image {
    width: 300px;
    margin-right: 20px;
  }
  
  .book-image img {
    width: 100%;
    height: auto;
  }
  
  .book-details {
    flex-grow: 1;
  }
  
  .book-details h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 5px
  }
  
  h3 {
    font-size: 20px;
    color: #ccc;
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .book-details__major-info {
    margin-top: 0;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 5px;
  }

  .book-details__minor-info {
    margin-top: 0;
    font-size: 12px;
    font-style: italic;
  }
  
  .book-details .book-subtitle {
    border-top: 1px solid #fff;
    padding-top: 0;
    font-size: 12px;
  }
  
  .book-details .book-subtitle p:first-of-type {
    margin-bottom: 10px;
  }
  
  .book-details .book-subtitle p img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  
  .artist-function {
    font-size: 12px;
    color: #ccc;
    margin-bottom: 5px;
  }

  .book-subtitle__icon-disposer {
    margin-right: '10px';
  }