.book-collection__review {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  align-items: center;
}

.book-collection__review__rating {
  margin-left: 10px;
  border: 1px solid #ccc;
  margin-right: 20px;
  font-size: 12px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 5px;
  color: #424242;
}

@media (min-width: 500px) {
  .book-collection__review-twitter {
    display: flex;
    align-items: center;
  }
}
