.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-select {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.book-image {
  width: 200px;
  height: auto;
}

.book-form-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
}

.book-form-container h2 {
  margin-bottom: 20px;
  font-size: '15px';
}

.book-form-container > div:not(:last-child) {
  margin-bottom: 20px;
}

.book-form-container .MuiTextField-root {
  width: 100%;
}

.book-form-container .MuiFormControl-root {
  width: 100%;
}

.add-artist-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.add-artist-container .MuiFormControl-root {
  width: 45%;
  margin-right: 5%;
}

.add-artist-container button {
  width: 45%;
}

.add-artist-container button svg {
  margin-right: 5px;
}
