.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: calc(100% - 30px);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px 15px;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-item {
    text-align: center;
    flex-grow: 1;
    color: #333;
  }
  
  .icon {
    font-size: 1.5rem;
    display: block;
    margin: 0 auto 5px;
  }
  
  .navbar-add {
    position: relative;
    margin-top: -30px;
  }
  
  .add-button {
    background-color: #ffde59;
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px
  }
  
  .navbar-item span {
    font-size: 0.75rem;
  }

    .navbar-item,
.navbar-add {
  text-decoration: none;
  color: #333;
  text-align: center;
}

.navbar-item {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    color: #333; 
    flex-grow: 1;
  }

.navbar-item:hover,
.navbar-add:hover {
  color: grey;
}

.globalSearchBarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  
